* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #23282d;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-style: italic;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #8942ee;
}

ul, a {
  list-style: none;
  text-decoration: none;
}

.header {
  width: 100%;
  height: 100%;
  margin: auto;
  display: block;
}

#btn {
  width: auto;
  margin: auto;
  display: none;
}

label .logo {
  width: 100%;
  border-radius: 25px;
  margin-top: 12.3px;
}

.media {
  width: auto;
  margin: auto;
  float: right;
}

#menu h5:hover {
  color: #d87b38;
  text-shadow: 1px 1px 5px #d87b38;
}

.header img {
  width: 100%;
  height: 65%;
}

.main {
  width: 100%;
  height: auto;
  display: block;
}

.main p {
  color: #ffffff;
}

.studio, .tattoist, .galery, .contact, .foter {
  width: 100%;
  height: auto;
  border-top: 5px solid #2ec276;
  display: block;
}

.studio h3, .studio h5 {
  margin: 2.1% auto;
  text-align: center;
  color: #d87b38;
}

.tattoist h2, .galery h2, .contact h2, .contact-tattoist h3 {
  font-size: 30px;
  margin-top: 18px;
  width: 90%;
  margin: auto;
}

.tattoist p {
  margin: auto;
  font-size: 17px;
  margin-bottom: 2.5%;
}

.galery-img {
  width: 100%;
  height: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.foter {
  background: #999999;
  clear: both;
  align-items: center;
}

.foter p {
  width: 90%;
  margin: auto;
  border-top: 1px solid #000000;
}

.pie-izq ul li h3, .pie-izq ul li h5 {
  width: 80%;
  margin: auto;
}

.certificate {
  border-top: 1px solid #000000;
}

.baner {
  width: 100%;
  text-align: center;
  display: block;
}

.studio .baner a img {
  width: 95%;
  margin: auto;
}

@media screen and (max-width: 640px) {
  label {
    display: block;
    width: 50px;
    height: 75px;
    margin: 2.5%;
    cursor: pointer;
    position: fixed;
  }

  .logo {
    width: 100%;
    border-radius: 25px;
  }

  .navegacion label img {
    display: none;
  }

  /*
  */
  .lineas div {
    width: 40px;
    border: 4.5px solid #8942ee;
    border-radius: 15px;
    margin: 7px 0;
  }

  #btn:checked~.navegacion {
    display: block;
  }

  .navegacion {
    clear: both;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
  }

  .navegacion #menu {
    width: 70%;
    height: auto;
    margin: auto 15%;
    margin-top: 20%;
    display: block;
    font-size: 25px;
  }

  #menu li h5{
    width: 60%;
    margin: 2.1% auto;
    text-align: center;
    padding: 20px 20px;
    border-radius: 25px;
    background-color: #2ec276;
  }


  #menu li h5:hover {
    background-color: #8942ee;
    transform: scale(105%);
  }

  .media {
    width: auto;
    margin: 10%;
    margin-right: 10%;
    float: right;
  }

  .media ul {
    display: flex;
    align-items: center;
  }

  .media ul li a i {
    font-size: 35px;
    padding: 10px 5px;
    color: #8942ee;
  }

  .studio h3, .studio h5 {
    width: 90%;
  }

  .studio-img {
    width: 100%;
    height: auto;
  }

  .studio-img img {
    width: 80%;
    height: 70%;
    margin: 2.5% 10%;
  }

  .contact .baner a img {
    width: 85%;
    margin: auto;
    max-width: 360px;
  }

  .tattoist p {
    width: 80%;
  }

  .tattoist-perfil {
    width: 86%;
    height: auto;
    margin: 2% 6%;
  }

  .tattoist-perfil img {
    width: 100%;
    height: 100%;
  }

  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 45%;
    padding-left: 8px;
  }

  /* Create four equal columns that sits next to each other */
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  .contact-old img {
    width: 60%;
    height: 30%;
    margin: 1.3% 19.5%;
  }

  .contact-old ul {
    width: 80%;
    margin: auto 9.5%;
    margin-bottom: 1.7%;
  }

  .pie-der, .pie-izq, .certificate {
    width: 75%;
    margin: 1.5% auto;
    margin-top: 5%;
    display: block;
    align-items: center;
    text-align: center;
  }

  .pie-izq {
    width: 85%;
  }

  .pie-der img {
    width: 75px;
    height: 75px;
    margin: auto;
    border-radius: 50%;
  }

  .pie-izq ul li {
    border-top: 1px solid #000000;
  }

  .pie-der h1 {
    font-size: 25px;
  }

  .pie-izq ul li a i {
    font-size: 50px;
    padding: 15px;
    margin: auto;
    color: #2ec276;
  }

  .certificate img {
    width: 100%;
    height: 60%;
  }
}

/* ------responsve von vista tablets  */
/*
---------Menu Scroll degradable fuente w3school
*/
@media screen and (min-width:641px) {
  .header label {
    display: none;
  }

  .navegacion label {
    display: block;
    width: 50px;
    height: 75px;
    margin: auto;
  }

  .navegacion {
    display: flex;
    position: fixed;
    width: 100%;
    height: 150px;
    top: -150px;
    background: rgba(0, 0, 0, 0.8);
    transition: top 0.8s;
  }

  .navegacion #menu {
    width: 45%;
    margin: auto;
    margin-top: 3.8%;
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
  }

  #menu li {
    width: auto;
    height: auto;
    margin: 1.8%;
    text-align: center;
    flex: auto;
    padding: 5px;
    border-radius: 25px;
  }

  .media ul {
    display: flex;
    align-items: center;
  }

  .media ul li a i {
    font-size: 35px;
    padding: 10px 5px;
    color: #8942ee;
  }

  .studio h3, .studio h5 {
    width: 60%;
  }

  .studio-img {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .studio-img img {
    width: 40%;
    height: 60%;
    max-width: 400px;
    max-height: 420px;
    margin: auto;
  }

  .tattoist {
    display: flex;
    flex-wrap: wrap;
  }

  .tattoist h2, .contact-tattoist h3 {
    margin: auto;
    width: 70%;
  }

  .tattoist p {
    width: 70%;
  }

  .tattoist-perfil {
    width: 46%;
    height: auto;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
  }

  .tattoist-perfil img {
    width: 95%;
    max-width: 400px;
    height: 100%;
    max-height: 380px;
    margin: auto;
  }

  .column {
    -ms-flex: 24%;
    flex: 23%;
    max-width: 23.3%;
    padding-left: 1.4%;
  }

  /* Create four equal columns that sits next to each other */
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .contact-tattoist {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
  }

  .contact-old {
    width: 40%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
  }

  .contact-old img {
    width: 100%;
    max-width: 320px;
    height: 30%;
    max-height: 350px;
    margin: auto;
  }

  .contact-old ul {
    width: 80%;
    margin: auto 9.5%;
    margin-bottom: 1.7%;
  }

  .pie-der, .pie-izq, .certificate {
    width: 75%;
    margin: 1.5% auto;
    margin-top: 5%;
    display: block;
    align-items: center;
    text-align: center;
  }

  .pie-izq {
    border-top: 1px solid #000000;
  }

  .pie-izq ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 30%;
    margin: auto;
  }

  .pie-der img {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
  }

  .pie-der h1 {
    font-size: 35px;
  }

  .pie-der h4 {
    font-size: 25px;
  }

  .pie-izq ul li {
    width: 33%;
  }

  .pie-izq ul li a i {
    font-size: 60px;
    padding: 15px;
    margin: auto;
    color: #2ec276;
  }

  .certificate img {
    width: 50%;
    height: 30%;
    max-width: 290px;
    max-height: 150px;
  }
}

@media screen and (min-width: 1025px) {

  .header #inicio{
    max-height: 620px;
  }
}
